* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #030726; */
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  height: 800px;
  /* justify-content: flex-end; */
}
.btn{
  cursor: pointer;
  border: 1px solid;
  border-radius: 2rem;
  width: 2rem;
  transition:  0.2s ease-in-out;
}

.btn:hover{
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.17);

}

@font-face {
  font-family: "font-1";
  src: url(./assets/Vanderick.ttf);
}

.link {
  color: rgba(21, 32, 97, 0.6);
  font-family: font-1;
  border: 1px solid rgb(0 0 0 / 19%);
  border-radius: 20px;
  padding: 3px 8px;
  margin: 2px;
  width: 2rem;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.app-login {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
  background: linear-gradient(
    to bottom,
    rgba(21, 32, 97, 0.6),
    rgba(119, 105, 227, 0)
  );
  transition: background-color 0.3s ease-in-out;
}

input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: rgba(21, 32, 97, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: rgba(0, 0, 0, 0.19);
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(21, 32, 97, 0.6),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.title {
  font-size: 25px;
  font-family: font-1;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  padding: 12px 4%;
  font-size: 0.9rem;
  color: white;
  z-index: 1;
}

.logo {
  width: 60px;
  max-width: 100px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* margin: 10px; */
  padding: 90px;
  border-radius: 10px;
  /* width: 250px; */
  
}

.i {
  color: #303;
  font-size: 20px;
  width: 200px;
  height: 150px;
  margin: 10px;
  border-radius: 2rem;
  /* border-radius: 58% 43% 33% 64% / 50% 38% 53% 50%; */
  /* background: transparent; */
  /* background: rgba(0, 0, 0, 0.19); */
  background: linear-gradient(
    to bottom,
    rgba(21, 32, 97, 0.6),
    rgba(119, 105, 227, 0)
  );
  /* box-shadow: inset 6px 33px 20px 0 rgba(21, 32, 97, 0.6),
    inset 20px 80px 10px 0 rgba(119, 105, 227, 0),
    10px 20px 20px 0px rgba(119, 105, 227, 0); */
    /* box-shadow: 0 4px 8px 0 rgba(21, 32, 97, 0.6),
    0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border: none;
}
.i::before {
  content: '';
  position: absolute;
  border-radius:  37% 54% 46% 46%;
  background: white;
  transform: rotate(-30deg);
  width: 50px;
  height: 15px;
  top: 20px;
  left: 20px;

}

.i::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: white;
  height: 10px;
  top: 60px;
  left: 20px;

  
}

.input-cont {
  width: 800px;
  height: 150px;
  /* box-shadow: 0 4px 8px 0 rgba(21, 32, 97, 0.6), */
  /* 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.card{
  border-radius: 2rem;
  transition: transform 0.2s ease;
  /* margin: 4rem 0.4rem; */
  margin: 20px;
  /* box-shadow: 0 0  5px  rgba(21, 32, 97, 0.6); */
  box-shadow: 0 4px 8px 0 rgba(21, 32, 97, 0.6),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
  height: 250px;
}
.card:hover{
  transform: scale(1.1);
}
.input-cont{
  width: 80%;
  display: flex;
}